{% extends 'base.html' %}

{% block content %}
    <h1>Pagina Prueba</h1>

    <div id="parrafo1">

        <h3>Grupo 1</h3>
        <p>Este un texto.</p>
     
     </div>
     
     <div id="parrafo2">
     
         <h3>Grupo 2</h3>
         <p>Este un texto.</p>

         <br>

      <h3>
         {{ myText | upper | truncatechars:"16" }}   
         <br>        
         {{ myNumber }}
      </h3>

      <ul>
         {% for myItem in myList %}
         <li> {{ forloop.counter }} - {{ myItem|add:2 }} 
            {% if myItem == 33 %}
               - Este numero es mágico
            {% elif myItem|divisibleby:2 %}
               - Este numero es par
            {% elif myItem > 60 %}
               - Este numero es mayor que 60
            {% endif %}
         </li> 
         {% endfor %}
      </ul>
     
     </div>


{% endblock %}