{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
</head>
<body>
    <h1>Pagina Prueba</h1>
    
    <ul class="menu9">
        <li><a class="activo" href="#index">Principal</a></li>
        <li><a href="#novedades">Novedades</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="#informacion">información</a></li>
      </ul>
      

    <div id="parrafo1">

        <h3>Grupo 1</h3>
        <p>Este bloque tiene definido el texto de color rojo.</p>
     
     </div>
     
     <div id="parrafo2">
     
        <h3>Grupo 2</h3>
        <p>Este bloque tiene definido el texto de color verde.</p>
     
     </div>
     

    /* variable */
    Usuario: {{ request.user }}

    <br>
    ¿Esta autenticado?: {{ request.user.is_authenticated }}

</body>
</html>