<ul class="menu9">
    <li><a href="/">Principal</a></li>
    <li><a href="/primera">Novedades</a></li>
    <li><a href="/personas/persona">TEST</a></li>
    <li><a href="/personas/agregar">Añadir Personas 1</a></li>
    <li><a href="/personas/anotherAdd">Añadir Personas 2</a></li>
    <li><a href="/personas/showPersonas">Ver Persona</a></li>
    <li><a href="/personas/search">BUSCAR</a></li>
    <li><a href="/personas">Listar Personas</a></li>
    <li><a href="/admin">Base de Datos</a></li>
</ul>